[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ElevDistr"]
	path = ElevDistr
	url = https://github.com/liviobaetscher/elevdistr
